html {
  font-size: 62.5%;
}
:root {
  --color-amarillo-primary: #f5af19;
  --color-morado-secundary: #f5af;
}
body {
  font-family: "Montserrat", sans-serif;
}
.background {
  background-size: cover;
  background-position: bottom;
  width: 1200px;
  margin: 0 auto;
}
.card-container {
  display: flex;
  width: 80%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 4rem;
  min-width: 50%;
  height: 60vh;
  flex-wrap: wrap;
}
.contendor_P {
  padding: 15rem;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
@media (max-width: 1200px) {
  .background {
    background-image: none;
  }
  .card-container {
    flex-wrap: wrap;
  }
  .card {
    height: 60rem;
  }
}

@media (max-width: 480px) {
  .card-image img {
    margin-top: -4rem;
  }
  .card-container {
    padding: 1rem;
  }
  .card {
    min-width: 30rem;
    width: 30rem;
  }
}
.contenedor {
  display: grid;
  place-content: center;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: 0 auto;
  gap: 1rem;
}
.contenedor img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
